*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  html{
  overflow-x: hidden;
}
.hero-sec-bg-img {
    content: "";
    z-index: -1;
   /* opacity: 0.8; */
  background:
    linear-gradient(rgba(0, 0, 0, 0.717), rgba(0, 0, 0, .727)),
    url("assets/PK-en-20250303-TRIFECTA-perspective_a88c1198-1000-42c2-9b40-e68791772052_large.jpg");

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
 border-bottom: 1px solid red;

}

.nav{
    background: transparent;
    position: absolute;
}
.email{
  border-radius: 4px;
 
}
.heading1{
  margin-top: 70px;
}
.email{
  border: 1px solid #a6a6a6;
}
.btn{
  background-color: #e50914;
  color: white;
}
.btn:hover{
  background-color: #d45b61; 
}
.scale:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.img{
  width: 70%;
}
.css{
  padding-top: 540px;

}
.for-icon::before{
  content: "1";
    position: absolute;
  top: 38%;
        left: 4%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
.for-icon2::before{
  content: "2";
    position: absolute;
     top: 38%;
        left: 18%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
.for-icon3::before{
  content: "3";
    position: absolute;
    top: 38%;
        left: 31%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
.for-icon4::before{
  content: "4";
    position: absolute;
   top: 39%;
        left: 44%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
.for-icon5::before{
  content: "5";
    position: absolute;
    top: 38%;
      left: 58%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
.for-icon6::before{
  content: "6";
    position: absolute;
    top: 38%;
        left: 71%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
.for-icon7::before{
  content: "7";
    position: absolute;
    top: 38%;
    left: 84%;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-size: 78px;
    font-weight: 700;
    z-index: 1;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}
@media all and (max-width: 768px){
.for-icon4::before{
   top: 38%;
        left: 73%;
        font-size: 60px;
}
.for-icon3::before{
  left: 52%;
        font-size: 60px;
        top: 38%;
}
.for-icon2::before{
   top: 38%;
        left: 30%;
        font-size: 60px;
}
.for-icon::before{
   top: 38%;
        left: 9%;
        font-size: 60px;
}
}
@media all and (max-width: 850px){
.for-icon4::before{
  
        font-size: 40px;
}
.for-icon3::before{

        font-size: 40px;
}
.for-icon2::before{

        font-size: 40px;
}
.for-icon::before{

        font-size: 40px;
}
.for-icon5::before{
 
        font-size: 40px;
}
.for-icon6::before{
 left: 70%;
        font-size: 40px;
}

.for-icon7::before{
 
        font-size: 40px;
        left: 82%;
}

}
@media all and (max-width: 575px){
  .for-icon::before{
top: 72%;
        font-size: 99px;
        left: 10%;
}
}

.display2{
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-size: 1.7em;
  padding-left: 80px;


}
.img{
  border-radius: 5px;
}
.for-width{

width: 100%;
}
.for-transition{
  transition: all ease-in 0.2s;
}
.tn-imgs{
  font-size: 70px;
}
.display3{
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-size: 1.7em;
  /* padding-left: 30px; */
  

}
.card{
  background-color: #370069;
}
.card-img{
  position: absolute;
  bottom: 7px;
  right: 15px;
}
.clr{
  color: #a0a0a2;
}
.width{
  width: 85%;
}
.eng{
  border-radius: 4px; 

}
.bg{
  background-image: linear-gradient(149deg, rgb(25, 34, 71) 0%, rgb(33, 14, 23));;
}
.hover{
  background-color: #2D2D2D;}
.hover:hover{
  background-color: #a0a0a2;
  cursor: pointer;
}
